repos:
  - repo: local  # set up all as local to manage packages with pip in Docker
    hooks:
      # NB to ignore git hook when for a specific commit/push:
      # git commit ... --no-verify
      # git push ... --no-verify

      # If quantify-core is installed in a virtual environment, then
      # the git commit/push must be executed in the same environment
      # (applies to IDEs as well!)

      # ################################################################################
      # Static analysis before committing
      # ################################################################################

      # To install the hooks run:
      # pre-commit install --hook-type pre-commit

      # To uninstall the hooks run:
      # pre-commit uninstall --hook-type pre-commit

      # To execute the hooks manually run:
      # pre-commit run --all-files --hook-stage commit

      # pip install black
      - id: black
        name: Python code autoformatter [black]
        language_version: python3
        entry: black
        args: ["--fast"]
        stages: [commit]
        language: python
        types: [python]

      # pip install ruff
      - id: ruff
        name: Linter [ruff]
        description: "Run 'ruff' for extremely fast Python linting"
        entry: ruff --force-exclude
        language: python
        'types_or': [python, pyi]
        args: []
        require_serial: true
        additional_dependencies: []
        minimum_pre_commit_version: '2.9.2'
