# quantify installation requirements

numpy!=1.19.4  # 1.19.4 not allowed because of a bug on windows https://github.com/numpy/numpy/issues/17726
qcodes>=0.25.0
scipy>=1.5.0,!=1.6.0
h5netcdf
xarray==0.17.0  # 0.17.1 will introduce breaking changes, see issue #161
xxhash
matplotlib
lmfit
pyqt5==5.15.1  # pinned due to #170, https://bugreports.qt.io/browse/PYSIDE-1473
pyqtgraph
jsonschema
adaptive
filelock
appnope
uncertainties
# used to display the structure of the experiments container in tutorials
# placed here to avoid errors when users download tutorials
directory-tree>=0.0.2
