pip
bump2version==0.5.11
wheel==0.33.6
watchdog==0.9.0
flake8
coverage
Sphinx
nbsphinx
sphinx-rtd-theme
sphinx-jsonschema==1.15
jupyter-sphinx==0.2.3
twine==1.14.0

pytest
pytest-runner
pytest-cov
flake8-html
