pip
bump2version==0.5.11
wheel==0.33.6
watchdog==0.9.0
flake8
coverage
Sphinx
nbsphinx
scikit-optimize
sphinx-rtd-theme==0.5.0rc2
sphinxcontrib-blockdiag
jupyter_sphinx==0.2.3
sphinx-jsonschema>=1.15
twine==1.14.0
pytest
pytest-runner
pytest-cov
flake8-html
