# quantify installation requirements

numpy!=1.19.4  # 1.19.4 not allowed because of a bug on windows https://github.com/numpy/numpy/issues/17726
qcodes>=0.25.0
scipy>=1.5.0,!=1.6.0
h5netcdf
xarray>=0.19.0
xxhash
matplotlib<3.5 #284.
lmfit
pyqt5>5.15.2  # 5.15.2 has known bug, #170, https://bugreports.qt.io/browse/PYSIDE-1473
pyqtgraph
jsonschema
adaptive
filelock
appnope
uncertainties
# used to display the structure of the experiments container in tutorials
# placed here to avoid errors when users download tutorials
directory-tree>=0.0.2
pendulum  # used for timestamps formatting in the dataset attributes
dataclasses_json # used in dataset_attrs

# tmp fixes
funcparserlib==1.0.0a0 # https://github.com/vlasovskikh/funcparserlib/issues/69
